
@use './helpers/variables' as *;


html {
	// font-size: calc(100dvw / 1920 * 10);

	font-size: 10px;
}

html,
body {
	height: 100%;
	font-weight: 400;
	scroll-behavior: smooth;
}
body {
	font-family: $font_1;
}
.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

.section {
	width: 100%;
}

.container {
	max-width: 114.4rem;
	width: 100%;
	/* 	padding: 0 2rem;
 */
	margin: 0 auto;
}


/* remove */
body {
	font-family: Poppins, sans-serif;
}

header{
	height: 3.8rem;
	padding: 3rem 0;
	background-color: white;
	margin-bottom: 12.4rem
	// @include bp($point_2, min) {
	// 	background-color: tomato;
	// }
}

.hello {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: calc(100vh - 240px);
	color: brown;
	font-size: 5rem;

	text-align: center;
	// p {
	// 	color: $color_black;
	// }
}

/* remove */
.swiper {
	width: 600px;
	height: 300px;
  }
  .img{
	width: 100%;
	height: 100%;

  }

  .header__in{

	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 26.6rem;
  }

  .header_logo{
	width: 9.4rem;
	height: 3.8rem;
	background-color: white;
	
  }


  .header_img_logo{
	width: 100%;
	height: 100%;
	object-position: center;
  	object-fit: cover;
  }
  
  .nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }

  .nav__list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	column-gap: 60px;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	

  }


  .hero{
	display: flex;
	flex-direction: row;
	row-gap: 10px;
	

  }
  .hero__info{
	width: 57%;
	display: flex;
	flex-direction: column;	

  }
  
  .hero__title{
	width: 71.6rem;
	height: 22rem;
	font-family: Poppins;
	font-size: 6rem;
	font-weight: 700;
	line-height: 11rem;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	text-wrap: wrap;
	margin-bottom: 4.2rem;
  }

.products_logo{
	position: relative;
	top: 9.5rem;
	left: 18rem;

}
  .hero__descr{
	width: 55.5rem;
	height: 10.8rem;
	opacity: 0.8px;
	font-family: Poppins;
	font-size: 2rem;
	font-weight: 400;
	line-height: 3.6rem;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

  }
  .hero__footer{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	column-gap: 3.5rem;

  }
  .btn_base.btn--purple{
	width: 18.1rem;
	height: 4.7rem;
	padding: 1rem 4rem 1rem 4rem;
	border-radius: 1.2rem;
	background: #706FE5;
	font-family: Poppins;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 2.7rem;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #FFFFFF;
	text-wrap: nowrap;

  }

.white_btn_text{
	width: 14.6rem;
	height: 4.8rem;
	font-family: Poppins;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.4rem;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #2E3E5C;
	
}
.round_btn{
	width: 4.8rem;
	height: 4.8rem;

}
.btn_base.btn--white{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 1.3rem;
	width: 25.2rem;
	height: 8.0rem;
}

.btn_base.btn--white:active,
.btn_base.btn--white:focus,
.btn_base.btn--white:hover {

	border: 1px solid #706FE5;
	border-radius: 4.0rem;
}
.hero__picture{
	width: 43%;

}
.hero__picture_img{
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}
.circle{
	border-radius: 50%;
}
.circle.circle--almaz{
	width: 59px;
	height: 59px;
	background-color: grey;
}
.circle.circle--purple{
	width: 8.3rem;
	height: 8.3rem;
	background-color: #706FE5;
}
.help{
	width: 113.9rem;
	display: flex;
	flex-direction: row;


}

.help__general{
	width: 50%;
	display: flex;
	flex-direction: column;
}

.help__title {
	width: 48.7rem;
	font-family: Poppins;
	font-size: 4.0rem;
	font-weight: 700;
	line-height: 5.2rem;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #1E1F4B;
	margin-bottom: 2.0rem;

}
.help__descr{
	width: 45.7rem;
	font-family: Poppins;
	font-size: 2.0rem;
	font-weight: 400;
	line-height: 3.6rem;
	text-align: left;
	text-underline-position: from-font;
	color: #1B1D21;
	margin-bottom: 5.0rem;

}
.btn_subscribe{
	width: 49.1rem;
	height: 7.2rem;
	border-radius: 1.2rem;
	opacity: 10%;
	background: #706FE5;
	display: flex;
	flex-direction: row;

}
.help_email_img{
	width: 2.4rem;
	height: 2.4rem;
	opacity: 0.7px;

}
.email_img_picture{
	width: 100%;
	height: 100%;
	object-position: center;
  	object-fit: cover;
}
.help__menu {

	width: 50%;
	display: flex;
	flex-direction: row;
	row-gap: 3.0rem;
	column-gap: 3.0rem;
	flex-wrap: wrap;

}

.help_menu_items{

	width: 26.2rem;
	height: 15.8rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}
.help_menu_items__img_box{
	width: 5.0rem;
	height: 5.0rem;


}
.help_menu_items__title {
	width: 13.2rem;
	font-family: Poppins;
	font-size: 2.0rem;
	font-weight: 600;
	line-height: 2.8rem;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #1E1F4B;

}

.help_menu_items__descr{
	width: 26.2rem;
	opacity: 0.8px;
	color: #2E3E5C;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

}

.form__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0.5rem;
    width: 39rem;
    height: 5.5rem;
    background-color: rgba(112, 111, 229, 0.1);
}
.form__icon {
    width: 3.4rem;
    height: 2.4rem;
}
.form__input {
    flex: 1;
    border: none;
    /* padding: 10px; */
    color: #333;
    border-radius: 8px;
    background: transparent;
    padding-right: 4;
}
.form__button {
    background-color: #706fe5;
    opacity: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    padding: 2rem 4rem;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 14rem;
    height: 2.4rem;
    box-shadow: 0px 6px 20px 0px rgba(112, 111, 229, 0.5019607843);
    margin-right: 1rem;
}

//footer
.footer{
	padding: 3rem 0;
width: 144rem;
height: 42.8rem;
background-color:#2E3E5C;
margin-bottom: 5.7rem;
	
}
.nav.nav--footer{
	margin-bottom: 8.9rem;
}
.footer_menu {
	display: flex;
	flex-direction: column;
	margin-bottom: 90px;
	
}
.footer_logo{
	width: 9.4rem;
	height: 3.8rem;
  }

.nav__link{
	font-family: Poppins;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2rem;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #FFFFFF;
	
}

.nav__link.nav__link--header{
	color: #1E1F4B;

}
.nav__link.nav__link--footer{
	color: #FFFFFF;

}
.company_logo{

width: 114rem;
height: 2.7rem;
font-family: Poppins;
font-size: 1.8rem;
font-weight: 700;
line-height: 2.7rem;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
margin-bottom: 1.9rem;

}

.media_img_box{
width: 1.3rem;
height: 1.6rem;

}
.media_img_block{
	width: 1.4rem;
	height: 1.6rem;

}
.media_img{
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}

.footer_media_img_box{
	width: 4.8rem;
	height: 4.8rem;
	border-radius: 200rem;
	opacity: 0px;
	background-color: #706FE5;
	display: flex;
	justify-content: center;
	align-items: center;


}
.footer_media_box{
	display: flex;
	column-gap: 74rem;
	flex-direction: row;
	border-bottom: 1px solid#EAEEF3;
	padding-bottom: 4.8rem;
	margin-bottom: 4.8rem;
}
.footer_media_icons{
	display: flex;
	column-gap: 1.6rem;
	flex-direction: row;

}
.footer_rights{
	font-family: Poppins;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2rem;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #FFFFFF;
}

a{
	text-decoration: none;
	color:white;
}
//swiper
.section.section--swaiper{
	height: 27.4rem;
	background-color:#706FE505;
}

.swiper-container {
    width: 100%;
    height: auto;
}

.block .swiper-wrapper {
	margin-bottom: 2rem;
}
	
.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.block {
	/* display: flex;  !!!breaks slider */

	display: block;
	width: 100%;
	overflow: hidden;
}
.swipper_title{
	font-family: Poppins;
	font-size: 2rem;
	font-weight: 600;
	line-height: 2.4rem;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	padding-top: 6rem;
	margin-bottom: 4.7rem;
}


.block__item {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;

	font-size: 50px;
	color: #fff;
	height: 20rem;
}


.company_logo_swipper{
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: contain;
}
.block__item.swiper-slide--google{
	width: 10.9rem;
	height: 3.6rem;

}
.block__item.swiper-slide--airbnb{
	width: 11.6rem;
	height: 3.6rem;
}

.block__item.swiper-slide--creative{
	width: 11rem;
	height: 4.2rem;	
}
.block__item.swiper-slide--shopify{
	width: 12.6rem;
	height: 3.6rem;
}

.block__item.swiper-slide--amazon{
	width: 11.8rem;
	height: 3.5rem;
}

.block__nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;
}

.block__nav_btns {
	display: flex;
	column-gap: 2rem;
}

.btn_1,
.btn_2 {
	align-self: flex-start;
	cursor: pointer;
}

.pagination_1 {
	display: flex;
	justify-content: center;
}
//section bg
.comments_nav__img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
  }

  .section {
	position: relative;
	width: 100%;
	padding: 10rem 0;
  }
  .section.section--bg {
	background-color: rgba(112, 111, 229, 0.02);
  }
  .section__title {
	font-family: Poppins;
	font-size: 4rem;
	font-weight: 800;
	line-height: 6rem;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

	color: #03014c;
  }
  .section__title.section__title--centr {
	text-align: center;
  }
  
  .comments {
	position: relative;
	display: block;
	max-width: 67rem;
	width: 100%;
	margin: 0 auto;
  }
  .comments::after, .comments::before {
	position: absolute;
	top: -5rem;
	content: "";
	width: 5.6rem;
	height: 5rem;
	background-image: url(../imgs/quote.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
  }
  .comments::after {
	left: -6rem;
  }
  .comments::before {
	right: -6rem;
	rotate: 180deg;
  }
  
  .comments_content {
	overflow: hidden;
  }
  
  .comments_content:not(:last-child) {
	margin-bottom: 8rem;
  }
  
  .comments_title {
	margin-bottom: 11rem;
  }
  
  .comments__item {
	display: block;
	max-width: 100%;
  }
  
.comments__item_text {
	font-family: Poppins;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
  	color: rgba(3, 1, 76, 0.5);
}
  
  .comments_nav {
	display: flex;
	
  }

  .comments_nav.swiper_3 {
	display: flex;
	column-gap: 8rem;
	justify-content: center;
  }
  
  .comments_nav__item {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	align-content: center;
	align-items: center;
	height: 21rem;
	cursor: pointer;
  }
  .swiper-slide.swiper-slide-thumb-active .comments_nav__item {
	min-width: 18rem;
  }
  
  .comments_nav__img_w {
	border-radius: 50%;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	flex-shrink: 0;
  }
  .swiper-slide.swiper-slide-thumb-active .comments_nav__img_w {
	height: 9.6rem;
	width: 9.6rem;
	border: 0.5rem solid #fff;
	box-shadow: 0 0 0 0.5rem #706fe5;
  }
  .swiper-slide:not(.swiper-slide-thumb-active) .comments_nav__img_w {
	height: 7.8rem;
	width: 7.8rem;
  }
  
  .comments_nav__data {
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	row-gap: 2px;
	text-align: center;
  }
  .swiper-slide:not(.swiper-slide-thumb-active) .comments_nav__data {
	display: none;
  }
  
  .comments_nav__name {
	font-family: Poppins;
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 3.6rem;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	
	color: #03014c;
	white-space: nowrap;
  }
  
  .comments_nav__pos {
	color: #2e3e5c;
	font-family: Poppins;
	font-size: 2rem;
	font-weight: 500;
	line-height: 3rem;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

	white-space: nowrap;
  }/*# sourceMappingURL=style.css.map */

  .container.container--dots::after, .container.container--dots::before {
    position: absolute;
    content: "";
    width: 9.8rem;
    height: 7rem;
    background-image: url(../imgs/dots.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container.container--dots::before {
    top: 25rem;
}

.container.container--dots::after {
    top: 60rem;
    left: 100rem;
}
  //section logo companies slider
  *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  :root{
	--bg-clr: white;
  }

  .carousel-wrapper {
	--width: 200px;
	--gap: 500px;
	--num-items: 5;
	--ani-offset: calc(var(--width) * var(--num-items) * -1);
	--ani-speed: 20s;
	
	width: 100%;
	overflow: hidden;
	position: relative;
  }
  .carousel-wrapper::before,
  .carousel-wrapper::after{
	content: '';
	position: absolute;
	width: 30%;
	height: 100%;
	z-index: 1;
	top: 0;
  }
  .carousel-wrapper::before{
	left: 0;
	background-image: linear-gradient(to right,var(--bg-clr) 0%,transparent 50%);
  }
  .carousel-wrapper::after{
	right: 0;
	background-image: linear-gradient(to left,var(--bg-clr) 0%,transparent 50%);
  }
  
  .carousel {
	display: flex;
	align-items: center;
	animation: slide var(--ani-speed) linear infinite;
  }
  .item{
	flex: 1 0 var(--width);
	text-align: center;
	padding: 1rem;
	padding-left: 4rem;
	padding-right: 4rem;
  }

  .item > img{
	width: 100%;
	height: auto;
	object-fit: cover;
  }
  
  @keyframes slide {
	100% {
	  transform: translateX(var(--ani-offset));
	}
  }
  //https://html-plus.in.ua/create-css-slider-only/
  